<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Footer</title>
</head>

<body>
    <footer class="footer-distributed">
        <div class="footer-right">

            <a href="#"><i class="fa-regular fa-envelope"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>

        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a class="footer_route" href="/marketTerm">FAQ</a>
                <a class="footer_route" href="/pricing">Pricing</a>
                <a class="footer_route" href="/aboutUs">About Us</a>
                <a class="footer_route" href="/contactUs">Contact Us</a>
            </p>
            <p>Chai Trade &copy; 2023</p>
        </div>
    </footer>
</body>

</html>