<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link href="/css/error.css" rel="stylesheet" type="text/css">
</head>

<header>
    <%- include('partials/_navbar') %>
</header>

<body>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    
    <div class="link-container">
        <a href="/"
            class="more-link">Back to Home</a>
    </div>
</body>

</html>